.layout-base, .full-width {
	display: grid;
	grid-template-columns:
		[full-width-start] auto [content-start] $content-width [content-end] auto [full-width-end];

	@include mobile {
		grid-template-columns: 1fr !important;
	
		& > *, .full-width > * {
			grid-column: unset !important;
		}
	}

	& > *, .full-width > * {
		grid-column: content;
	}
	& > * {
		padding: 1rem 2rem;
	}

	img.full-width {
		padding: 0;
		width: 100%;
	}


	& > .full-width {
		grid-column: full-width;
		padding: 0;
	}
}

.center {
	text-align: center;
}

.apart {
	line-height: 2.2rem;
}

.big {
	font-size: 1.2rem;
}