input[type=text] {
	border: none;
	border-radius: 100vw;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	display: block;
	width: 100%;
	font-size: 1.5rem;
	font-family: "Merriweather", serif;
	padding: 1rem 2rem;
	outline: 0;

	&:focus {
		box-shadow: 0 3px 6px color(highlight);
	}
}