.stripe.big.not-found {
	text-align: center;
	padding: 0 !important;

	h2 {
		font-size: 19rem;
		padding: 0;
		margin: 0;
		font-weight: normal;

		@include mobile {
			font-size: 9rem;
		}
	}

	img {
		max-width: 800px;
		height: auto;
		display: block;
		margin: 0 auto;

		@include mobile {
			max-width: 300px;
		}
	}

	p {
		&.big {
			font-size: 2rem;
		}
	}

	a {
		color: color(highlight);
	}
}