nav.pagination {
	border-radius: 100vw;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16);
	display: block;
	width: fit-content;
	margin: 0 auto;

	a {
		display: inline-block;
		padding: 1rem 1.2rem;
		color: color(text-faded);

		&:hover {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16) inset;
		}

		&:first-of-type {
			padding-left: 1.5rem;
			border-radius: 100vw 0 0 100vw;
		}

		&:last-of-type {
			padding-right: 1.5rem;
			border-radius: 0 100vw 100vw 0;
		}

		&.active {
			background: color(purple);
			color: color(light);
		}
	}
}