.stripe {
	padding: 2rem 0 !important;

	&.white {
		background: color(light);
		color: color(dark);
	}

	&.purple {
		background: color(purple);
		color: color(light);

		a {
			color: color(light);
			text-decoration: underline;
		}
	}

	&.shadow {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16) inset;
	}

	&.big {
		padding: 6.6rem 0 !important;

		@include mobile {
			padding: 4rem 0 !important;
		}
	}

	&.hidden {
		display: none;
	}

	 @include mobile {
		padding: 2rem 1rem !important;
	}
}