<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel=stylesheet type=text/css href=css/miko.fyi.css />
	<script type=module src=javascript/miko.fyi.js></script>
	<link rel=icon href=assets/favicon.ico type=image/vnd.microsoft.icon>
	<title>Link not found – {{sitename}}gitly URL-shortner</title>
</head>
<body class=layout-base>

<header class="main full-width">
	<nav class=main>
		<img src=assets/icon_gitly.svg alt="gitly icon" class=logo />
		<h1>
			<a href="/">{{title}}</a>
		</h1>
	</nav>
</header>
<section class="stripe shadow big full-width not-found">
	<section>
		<h2>404</h2>
		<img src=assets/cute_404.png alt="a sad fox, sitting in front of a mountain range" />
	</section>
	<p class=big data-i18n>
		The link you followed here does not exist anymore, or did never exist in the first place.
	</p>
	<p data-i18n="innerHTML">
		Check out the the collection of links on the <a href="/">front-page</a> for input.
	</p>
</section>
<section class="stripe purple full-width big apart">
	<p data-i18n>
		gitly is a statically generated, open source URL shortener, that is designed to be hosted on GitLab Pages. You can just fork the repository, add your links and get it going
	</p>
	<p data-i18n="innerHTML">
		Check out the source code on <a href={{gitlabLink}}>GitLab.com</a>
	</p>
</section>

{{footer}}
</body>
</html>