<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script type=module src=javascript/miko.fyi.js></script>
	<link rel=stylesheet type=text/css href=css/miko.fyi.css />
	<link rel=icon href=assets/favicon.ico type=image/vnd.microsoft.icon>
	<title>{{sitename}}gitly URL-shortner</title>
</head>
<body class=layout-base>

<header class="main full-width">
	<nav class=main>
		<img src=assets/icon_gitly.svg alt="gitly icon" class=logo />
		<h1>
			<a href="/">{{title}}</a>
		</h1>
	</nav>
</header>
<section class="stripe purple big full-width">
	<p class=center>
		<img src=assets/textlogo_gitly.svg alt=gitly style="" class=textlogo />
	</p>
	<p class="center big" data-i18n>
		The open source, static URL shortener, hosted on GitLab Pages
	</p>
</section>
<section class=stripe>
	<input type=text name=filter id=filter placeholder=Filter... autocomplete=off />
</section>
<section class="stripe content-width">
	<template id=article>
		<article class=url>
			<h2><span class=slug></span><a class=link href="" class=link></a></h2>
			<main></main>
			<hr />
		</article>
	</template>
	<template id=nope>
		<article class=url>
			<main class="big center">
				no matching entries found...
			</main>
		</article>
	</template>
	<section id=articleList></section>
</section>
<section class="stripe shadow full-width center big">
	<p>
		<img src=assets/logo_gitly_full.svg alt="the logo of gitly" style="width: 300px;" />
	</p>
</section>

{{footer}}
</body>
</html>