<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel=stylesheet type=text/css href=css/miko.fyi.css />
	<script type=module src=javascript/miko.fyi.js></script>
	<link rel=icon href=assets/favicon.ico type=image/vnd.microsoft.icon>
	<title>{{name}} – {{sitename}}gitly URL-shortner</title>
</head>
<body class=layout-base>

<header class="main full-width">
	<nav class=main>
		<img src=assets/icon_gitly.svg alt="gitly icon" class=logo />
		<h1>
			<a href="/">{{title}}</a>
		</h1>
	</nav>
</header>
<section class="stripe purple big full-width header">
	<h2 data-i18n>{{name}}</h2>
</section>
<section class="stripe full-width apart">
	<section>{{content}}</section>
</section>
<section class="stripe shadow full-width center big">
	<p>
		<img src=assets/logo_gitly_full.svg alt="the logo of gitly" style="width: 300px;" />
	</p>
</section>

{{footer}}
</body>
</html>